################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/src/FileContentIndex/e2081f4f-050d-44a4-8ee8-757a1f5ede32.vsidx
/src/.vs/src/FileContentIndex/a2cdc124-4d56-4ff6-b824-096a93704f80.vsidx
